.contact {
  color: black;
  height: 40%;
}
.contact h1 {
  font-family: "Pacifico", cursive;
  font-size: 75px;
  margin-left: 10%;
  padding-bottom: 2%;
  color: black;
}
.contact img {
  width: 10%;
  height: 10%;
  margin-left: 5%;
}
.form h3 {
  color: black;
  font-size: 40px;
}
.form {
  margin-top: 0%;
  padding: 2%;
  text-align: center;
  background-color: rgb(1, 106, 117);
  color: white;
}
.backgroundImg {
  background-color: rgba(132, 221, 223, 0.837);
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 10px black;
  margin-bottom: 10%;
  overflow-x: auto;
}
iframe {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .contact {
    margin-bottom: 100%;
  }
}
@media screen and (max-width: 640px) {
  .contact {
    margin-bottom: 90%;
  }
  .contact h1 {
    font-size: 42px;
    margin-left: 0;
    margin-bottom: 5%;
  }
  .form {
    padding-left: 2%;
  }
  .form h3 {
    font-size: 20px;
    text-align: center;
  }
  .backgroundImg {
    width: 100%;
    margin-left: 0%;
  }
}
