.home {
  background-color: rgb(150, 184, 190);
  margin: 8% 10%;
  padding: 1%;
  padding-bottom: 6%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 10px black;
}
.left {
  text-align: center;
  font-size: 80px;
  color: white;
}
.emphasized {
  font-size: 108px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: white;
  margin-top: 10%;
}
h1 {
  margin-top: 3%;
  font-family: "Pacifico", cursive;
  font-size: 78px;
  color: #faebf3;
}
@media screen and (max-width: 1024px){
  .home{
    margin-top: 15%;
  }
}
@media screen and (max-width: 630px) {
  .home {
    margin-left: 0%;
    margin-bottom: 35%;
    width: 100%;
    margin-top: 50%;
  }
  .left {
    font-size: 40px;
  }
  .emphasized {
    font-size: 60px;
    margin-top: 22%;
    margin-bottom: 0;
  }
}
