body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-image: url("https://img.freepik.com/free-photo/multicolored-paper-background_23-2148182446.jpg?size=626&ext=jpg"); */
    /* ABSTRACT */
    /* background-image: url("https://i.pinimg.com/736x/a9/6f/17/a96f177c066ae8c5102cc77079466230.jpg"); */
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/71/15/abstract-irregular-polygon-background-pastel-vector-16267115.jpg");

    overflow-x: hidden;
    padding-top: 20px;
  }

  .icons img{
      width: 35px;
      height: 35px;
      margin-left: 64px;
      margin-top: 4%;
      margin-bottom: 4%;
      /* display: block; */
  }

li {
    padding-top: 8%;
    font-size: 25px;
    text-align: center;
    color: #4b4b4c;
    display: block;
  }

  li a {
    color: #4b4b4c;
    font-weight: bold;
  }
  
  .sidenav a:hover {
    color: black;
  }

  nav {
    border-top: 6px #4B4B4C solid;
    border-bottom: 6px #4B4B4C solid;
    margin-top: 4%;
    background-color: pink;
  }
  
  .main {
    margin-left: 160px;
    font-size: 28px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .circlePic img {
    border-radius: 50%;
    margin-left: 23%;
    margin-bottom: 1%;
  }

  @media screen and (max-width: 1157px){
      img {margin-left: 0%;
            width: 100%;}
      .circlePic img {margin-left: 0;}
      .icons img{display: block;}
  }
