.myPhoto img {
  border-radius: 50%;
  border: 2px solid black;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 2px;
}

a {
  color: black;
  font-size: 45px;
  text-align: center;
}
a:hover {
  color: rgb(83, 102, 104);
}
img {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 775px) {
  a {
    font-size: 24px;
    text-align: left;
  }
  .myPhoto img {
    width: 105px;
    height: 105px;
    margin-right: 0;
  }
}
