#main {
  margin: auto;
  height: 100%;
}
#intro {
  text-align: center;
  margin-top: 5%;
  height: 270px;
}
#intro h1 {
    margin-top: 1%;
}
#developer {
  text-align: center;
  background: lavender;
  height: 390px;
  justify-content: center;
}
#developer h1 {
  padding-top: 8%;
}
@media screen and (max-width: 700px){
  #intro {
    margin-top: 10%;
    height: 290px;
  }
  #developer {
    height: 380px;
  }
  #developer h1 {
    padding-top: 12%;
  }
}