body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* border-right: 10px rgb(27, 27, 27) solid; */
    background-color: #111;
    background-image: url("https://img.freepik.com/free-photo/multicolored-paper-background_23-2148182446.jpg?size=626&ext=jpg");

    overflow-x: hidden;
    padding-top: 20px;
  }

  .icons img{
      width: 35px;
      height: 35px;
      margin-left: 64px;
      margin-top: 4%;
      margin-bottom: 4%;
      /* display: block; */
  }

li {
    /* padding: 30px 2px 30px 2px; */
    /* text-decoration: none; */
    padding-top: 8%;
    font-size: 25px;
    text-align: center;
    /* light blue */
    /* background-color: rgb(163, 230, 241); */
    /* light gray white */
    /* color: #c6c6c6; */
    color: #4b4b4c;
    /* dark teal blue */
    /* background-color: rgb(46, 151, 170); */
    /* dark gray */
    /* background-color: #4B4B4C; */
    display: block;
  }

  li a {
    color: #4b4b4c;
  }
  
  .sidenav a:hover {
    /* color: #f1f1f1; */
    color: black;
  }

  nav {
    border-top: 6px #4B4B4C solid;
    border-bottom: 6px #4B4B4C solid;
    background-color: rgb(163, 230, 241);
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    /* padding: 0px 10px; */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .circlePic img {
    border-radius: 50%;
    margin-left: 23%;
    margin-bottom: 1%;
  }

  @media screen and (max-width: 1157px){
      img {margin-left: 0%;
            width: 100%;}
      .icons img{display: block;}
  }
