#home {
    padding-top: 5%;
}
#about {
    padding-top: 5%;
}
#portfolio{
    padding-top: 5%;
}
#contact {
    padding-top: 5%;
}

@media only screen and (max-width: 414px){
    #about{
        padding-top: 28%;
    }
    #portfolio{
        padding-top: 28%;
    }
    #contact{
        padding-top: 28%;
    }
}
@media only screen and (max-width: 375px) {
    #about{
        padding-top: 34%;
    }
    #portfolio{
        padding-top: 34%;
    }
    #contact{
        padding-top: 34%;
    }
}
@media only screen and (max-width: 360px){
    #about{
        padding-top: 30%;
    }
    #portfolio{
        padding-top: 30%;
    }
    #contact {
        padding-top: 30%;
    }
}
@media only screen and (max-width: 320px){
    #about{
        padding-top: 30%;
    }
    #portfolio{
        padding-top: 30%;
    }
    #contact{
        padding-top: 30%;
    }
}